.cart {
  position: fixed;
  z-index: 1051;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
  right: 0;
  left: 0;
  padding: 0 0 24px;
}
.cartBody {
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  background: #f9423a;
  padding: 1rem;
  border-radius: 10px;
}
.item {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  color: #fff;
  font-size: 20px;
}
.itemDesc {
  font-weight: 500;
  color: #fff;
  font-size: 12px;
}
